<h2 class="topPage">Edit Liquor</h2>

<form action="/liquors/{{id}}/edit" method="post" enctype="multipart/form-data">

<label for ="name">Name</label>
    <input type:"text" name="name" value="{{name}}">

<br><br>

<label for ="brand">Brand</label>    
     <input type:"text" name="brand" value="{{brand}}">

<br><br>

<label for="type">Type</label>
<select name="type" id="type">
        <option value="{{type}}" selected disabled hidden>{{type}}</option>
        <option value="Vodka">Vodka</option>
        <option value="Tequila">Tequila</option>
        <option value="Gin">Gin</option>
        <option value="Rum">Rum</option>
        <option value="Whiskey">Whiskey</option>
        <option value="Brandy">Brandy</option>
        <option value="Other">Other</option>
    </select>
</select>

<br><br>

<label for ="flavor">Flavor</label>
    <input type:"text" name="flavor" value="{{flavor}}">

<br><br>

<label for ="description">Description</label>    
     <input type:"text" name="description" value="{{description}}">

<br><br>

<label for ="url">Website to Purchase</label>
    <input type:"text" name="url" value="{{url}}">

<br><br>

<label for ="price">Price</label>
    <input type:"text" name="price" value="{{price}}">

<br><br>

<div>
Picture
   <input type="file" name="liquorIMG" accept="image/png, image/gif, image/jpeg">
</div>

<br><br>

<button type ="submit">Submit Changes</button>
</form>

<form action="/liquordetails/{{id}}/cancel" method="get">
<button type="submit">Cancel</button>
</form>