<h2 class="topPage">Liquor<span>Details</span></h2>
<div class = "details">

    <h4>Name: {{liquor.name}}</h4>
    <h4>Brand: {{liquor.brand}}</h4>
    <h4>Type: {{liquor.type}}</h4>
    <h4>Flavored: {{liquor.flavor}}</h4>
    <h4>Description: {{liquor.description}}</h4>
    <h4>Picture: <br><img class ="details-photo" <img src="{{liquor.image}}" alt=""></h4>
    <h4>Website to purchase: <a href="{{liquor.url}}" target="blank">Click Here!</a></h4>
    <h4>Price: {{liquor.price}}</h4>


{{#if theUser}}

        <a class="edit" href="/liquors/{{liquor._id}}/edit">Edit</a>
        
        <form action="/liquors/{{liquor._id}}/delete" method="post">
        
        <button  class="delete" type="submit">Delete</button>
        </form>

{{/if}}
</div>