<h2 class="topPage">Drink<span>Details</span></h2>
<div class = "details">
    <h4>Cocktail Name:</h4>
    <p><strong>{{drink.name}}</strong></p>
    <h4>Picture: <br><img class ="details-photo" src="{{drink.image}}" alt=""></h4>
    <h4>Liquors:</h4>
    {{#each drink.liquor}}
    <p>{{this.liquorObject.name}} - {{this.quantity}}</p>
    {{/each}}
    <h4>Ingredients:</h4>
    {{#each drink.ingredient}}
    <p>{{this.ingredientObject.name}} - {{this.quantity}}</p>
    {{/each}}
    <h4>Tools Needed:</h4>
    {{#each drink.tool}}
    <p>{{this.toolObj}}</p>
    {{/each}}
    <h4>Glasswear:</h4>
    <p>
    {{#each drink.glasswear}}
    {{this.glasswearObj}}
    {{/each}}
    </p>
    <h4>Instructions:</h4>
    <p>{{drink.instructions}}</p>
    <h4>Description:</h4>
    <p>{{drink.description}}</p>
    <h4>Website to purchase:</h4>
    <p><a href="{{drink.url}}">Click Here!</a></p>
    {{!-- <h4>Like Count: {{drink.likeCount}}</h4> --}}


{{#if theUser}}
        <a class="edit" href="/drinks/{{drink._id}}/edit">Edit</a>
        
        <form action="/drinks/{{drink._id}}/delete" method="post">
        
        <button  class="delete" type="submit">Delete</button>
        </form>

{{/if}}
</div>