<h2>Drink Details</h2>
<div>
    <h4>Cocktail Name: {{drink.name}}</h4>
    <h4>Picture: <img src="{{drink.image}}" alt=""></h4>
    <h4>Tools Needed: {{drink.tools}}</h4>
    <h4>Ingredients: {{#each drink.ingredients}}{{this.name}}, {{/each}}</h4>
    <h4>Liquors: {{#each drink.liquors}}{{this.name}}, {{/each}}</h4>
    <h4>Glasswear: {{drink.glasswear}}</h4>
    <h4>Instructions: {{drink.instructions}}</h4>
    <h4>Description: {{drink.description}}</h4>
    {{!-- <h4>Website to purchase: {{drink.url}}</h4>
    <h4>Price: {{drink.price}}</h4> --}}
</div>

{{#if theUser}}
        <a class="edit" href="/drinks/{{drink._id}}/edit">Edit</a>
        
        <form action="/drinks/{{drink._id}}/delete" method="post">
        
        <button  class="delete" type="submit">Delete</button>
        </form>

{{/if}}