<h2 class="topPage">Drink Details</h2>
<div>
    <h4>Cocktail Name: {{drink.name}}</h4>
    <h4>Picture: <img src="{{drink.image}}" alt=""></h4>
    <h4>Liquors: {{#each drink.liquor}}{{this.liquorObject.name}}, {{/each}}</h4>
    <h4>Ingredients: {{#each drink.ingredient}}{{this.ingredientObject.name}}, {{/each}}</h4>
    <h4>Tools Needed: {{#each drink.tools}} {{this}}, {{/each}}</h4>
    <h4>Glasswear: {{#each drink.glasswear}} {{this}}, {{/each}}</h4>
    <h4>Instructions: {{drink.instructions}}</h4>
    <h4>Description: {{drink.description}}</h4>
    <h4>Website to purchase: <a href="{{drink.url}}">Click Here!</a></h4>
    <h4>Price: 0
    <h4>Like Count: {{drink.likeCount}}</h4>
</div>

{{#if theUser}}
        <a class="edit" href="/drinks/{{drink._id}}/edit">Edit</a>
        
        <form action="/drinks/{{drink._id}}/delete" method="post">
        
        <button  class="delete" type="submit">Delete</button>
        </form>

{{/if}}