{{#if theUser}}
<h2>Drink Details</h2>
<div>
    <h3>{{drink.name}}</h3>
    <h4>Name: {{drink.name}}</h4>
    <h4>Type: {{drink.type}}</h4>
    <h4>Description: {{drink.description}}</h4>
    <h4>Picture: {{drink.picture}}</h4>
    <h4>Website to purchase: {{drink.url}}</h4>
    <h4>Price: {{drink.price}}</h4>
</div>

        <a class="edit" href="/drinks/{{this.id}}/edit">Edit</a>
        
        <form action="/drinks/{{this.id}}/delete" method="post">
        <button  class="delete" type="submit">Delete</button>
        </form>

{{/if}}