<h2 class="topPage">Create Drink</h2>

<form action="/drinks/{{drink._id}}/edit" method="post" enctype="multipart/form-data">

<label for="name">Cocktail Name
    <input type="text" name="name" value="{{drink.name}}">
</label>
<br><br>

<label>Liquors</label>
<table>
    <thead>
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Quantity</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
<tbody id="liquorTable">
    <tr>
        <td>
            <select name="liqType" id="liqTypesSelect">
                <option value="" selected disabled hidden></option>
                <option value="Vodka">Vodka</option>
                <option value="Tequila">Tequila</option>
                <option value="Gin">Gin</option>
                <option value="Rum">Rum</option>
                <option value="Whiskey">Whiskey</option>
                <option value="Brandy">Brandy</option>
                <option value="Other">Other</option>
            </select>
        </td>
        <td>
            <select name="liqSelect" id="liqSelect">
                <option value="" selected disabled hidden></option>
        {{#each liquor}}
            <option value ="{{this._id}}">{{this.name}}</option>
        {{/each}}
            </select>
        </td>
        <td>
            <input type="text" name="quantity" id="liqQuantity">
        </td>
        <td>
            <a href="#" onclick="addLiqLine('liquorTable')">Add Liquor</a>
        </td>
    </tr>
    {{#each drink.liquor}}
    <tr id="recordLiq{{this.htmlID}}" class="liqRecord">
        <td class="typeColumn">
            <select disabled>
            <option value="">{{this.liquorObject.type}}</option>
            </select>
        </td>
        <td class="liqColumn" >
            <select name="liqObj{{this.htmlID}}">
            <option value="{{this.liquorObject._id}}">{{this.liquorObject.name}}</option>
            </select>
        </td>
        <td class="quantityColumn">
            <input type="text" name="liqQtn{{this.htmlID}}" value="{{this.quantity}}">
        </td>
        <td class="actionColumn">
            <a href="#" onclick="removeLine('recordLiq{{this.htmlID}}')" class="btn-remove">Remove</a>
        </td>
        <td class="htmlIDColumn">
            <input type="text" name="liqHtmlID{{this.htmlID}}" value="{{this.htmlID}}" style="display: none;">
        </td>
    </tr>
    {{/each}}
</tbody>
</table>
<br><br>

<label>Ingredients</label>
<table>
    <thead>
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Quantity</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
<tbody id="ingredientTable">
    <tr>
        <td>
            <select name="ingType" id="ingTypesSelect">
                <option value="" selected disabled hidden></option>
                <option value="Syrup">Syrup</option>
                <option value="Fruit">Fruit</option>
                <option value="Carbonated mixer">Carbonated mixer</option>
                <option value="Juice">Juice</option>
                <option value="Bitter">Bitter</option>
                <option value="Garnish">Garnish</option>
                <option value="Dairy">Dairy</option>
                <option value="Caffeinated beverage">Caffeinated beverage</option>
                <option value="Sauce">Sauce</option>
                <option value="Prepared mix">Prepared mix</option>
            </select>
        </td>
        <td>
            <select name="ingSelect" id="ingSelect">
                <option value="" selected disabled hidden></option>
                {{#each ing}}
                    <option value ='{{this._id}}'>{{this.name}}</option>
                {{/each}}
            </select>
        </td>
        <td>
            <input type="text" name="quantity" id="ingQuantity">
        </td>
        <td>
            <a href="#" onclick="addIngLine('ingredientTable')">Add Ingredient</a>
        </td>
    </tr>
    {{#each drink.ingredient}}
    <tr id="recordIng{{this.htmlID}}" class="ingRecord">
        <td class="typeColumn">
            <select disabled>
            <option value="{{this.ingredientObject.type}}">{{this.ingredientObject.type}}</option>
            </select>
        </td>
        <td class="ingColumn">
            <select name="ingObj{{this.htmlID}}">
            <option value="{{this.ingredientObject._id}}">{{this.ingredientObject.name}}</option>
            </select>
        </td>
        <td class="quantityColumn">
            <input type="text" name="ingQtn{{this.htmlID}}" value="{{this.quantity}}">
        </td>
        <td class="actionColumn">
            <a href="#" onclick="removeLine('recordIng{{this.htmlID}}')" class="btn-remove">Remove</a>
        </td>
        <td class="htmlIDColumn">
            <input type="text" name="ingHtmlID{{this.htmlID}}" value="{{this.htmlID}}" style="display: none;">
        </td>
    </tr>
    {{/each}}
</tbody>
</table>
<br><br>

<label>Tools Needed</label> 
<table>
    <thead>
        <th></th>
        <th></th>
        <th></th>
    </thead>
    <tbody id="toolTable">
        <tr>
            <td>
                <select name="tools" id="tools">
                <option value="" selected disabled hidden>Select an Option</option>
                <option value="Shaker Tin">Shaker Tin</option>
                <option value="Muddler">Muddler</option>
                <option value="Bar Spoon">Bar Spoon</option>
                <option value="Jigger">Jigger</option>
                <option value="Strainer">Strainer</option>
                <option value="Mesh Strainer">Mesh Strainer</option>
                <option value="Other">Other</option>
                </select>
            </td>
            <td>
               <a href="#" onclick="addToolLine('toolTable')">Add Tool</a> 
            </td>
            <td class="htmlIDColumn">
                <input type="text" name="toolHtmlID{{this.htmlID}}" value="{{this.htmlID}}" style="display: none;">
            </td>
        </tr>
        {{#each drink.tool}}
        <tr id="recordTool{{this.htmlID}}" class="toolRecord">
              <td class="toolColumn" >
                <select name="toolObj{{this.htmlID}}">
                <option value="{{this.toolObj}}">{{this.toolObj}}</option>
                </select>
            <td class="actionColumn">
                <a href="#" onclick="removeLine('recordTool{{this.htmlID}}')" class="btn-remove">Remove</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
 <br> <br>

<label>Glasswear</label> 
<table>
    <thead>
        <th></th>
        <th></th>
    </thead>
    <tbody id="glassTable">
        <tr>
            <td>
                <select name="glasswear" id="glasswear">
                        <option value="" selected disabled hidden>Select an Option</option>
                        <option value="Highball">Highball</option>
                        <option value="Mug">Mug</option>
                        <option value="Rocks Glass">Rocks Glass</option>
                        <option value="Tumbler">Tumbler</option>
                        <option value="Martini Glass">Martini Glass</option>
                        <option value="Margarita Glass">Margarita Glass</option>
                        <option value="Hurricane Glass">Hurricane Glass</option>
                        <option value="Shooter">Shooter</option>
                        <option value="Snifter">Snifter</option>
                        <option value="Collins">Collins</option>
                        <option value="Pint">Pint</option>
                        <option value="Flute">Flute</option>
                        <option value="Nick and Nora Glass">Nick and Nora Glass</option>
                        <option value="Wine Glass">Wine Glass</option>
                        <option value="Other">Other</option>
                </select>
            </td>
            <td>
               <a href="#" onclick="addGlassLine('glassTable')">Add Tool</a> 
            </td>
        </tr>
        {{#each drink.glasswear}}
        <tr id="recordGlass{{this.htmlID}}" class="glassRecord">
            <td class="glassColumn" >
                <select name="glassObj{{this.htmlID}}">
                <option value="{{this.glasswearObj}}">{{this.glasswearObj}}</option>
                </select>
            <td class="actionColumn">
                <a href="#" onclick="removeLine('recordGlass${{this.htmlID}}')" class="btn-remove">Remove</a>
            </td>
            <td class="htmlIDColumn">
                <input type="text" name="glassHtmlID{{this.htmlID}}" value="{{this.htmlID}}" style="display: none;">
            </td>
        </tr>
        {{/each}}

    </tbody>
</table>
 <br> <br>

<div>
Instructions
    <input type="text" name="instructions" value="{{drink.instructions}}">
</div>

<br><br>

<div>
 Description
    <input type="text" name="description" value="{{drink.description}}">
</label>
</div>

<br><br>

<div>
 Original Website (optional)
    <input type="text" name="url" value="{{drink.url}}">
</label>
</div>

<br><br>

<div>
Picture
   <input type="file" name="drinkIMG" accept="image/png, image/gif, image/jpeg">
</label>
</div>

<br><br>

<div>
    Tags
    <input type="text" name="tags" value="{{drink.tags}}">
</div>

<br><br>


<input type="number" id="ingN" name="ingN" style="display: none;"></input>
<input type="number" id="liqN" name="liqN" style="display: none;"></input>
<input type="number" id="toolN" name="toolN" style="display: none;"></input>
<input type="number" id="glassN" name="glassN" style="display: none;"></input>

<button type ="submit">Submit Changes</button>
</form>
</div>

<form action="/drinks/{{drink._id}}/cancel" method="get">
<button type="submit">Cancel</button>
</form>

<script src="/scripts/drinkDOM.js"></script>