<h2>Edit Drink</h2>

<div>
<form action="/drinks/{{drink.id}}" method="post">

<label for ="name">Cocktail Name</label>
    <input type:"text" name="name" value="{{drink.name}}">

<br><br>

<label for="tools">Tools Needed</label>
<select name="tools" id="tools" select= multiple >
        {{#each drinks}}]
        <option value="{{this._id}}">{{this.type}}</option>
        {{/each}}
</select>

<br><br>

<label>Ingredients</label> <select name="ingredients" id="ingredients" select="multiple">
    <option value=""></option>
    {{#each ing}}
        <option value ="{{this._id}}">{{this.name}}</option>
    {{/each}}
    </select>
    <br>
<br>

<label>Liquors</label> <select name="liquors" id="liquors" select="multiple">
    <option value=""></option>
    {{#each liquor}}
        <option value ="{{this._id}}">{{this.name}}</option>
    {{/each}}
    </select>
    <br>
<br>

<label for="glasswear">Glasswear</label>
<select name="glasswear" id="glasswear" select= multiple >
        {{#each drinks}}]
        <option value="{{this._id}}">{{this.type}}</option>
        {{/each}}
</select>

<br><br>

<label for ="instructions">Instructions</label>    
     <input type:"text" name="instructions" value="{{drink.instructions}}">

<br><br>

<label for ="description">Description</label>    
<input type:"text" name="description" value="{{drink.description}}">

<br><br>

<label for ="url">Original Website (optional)</label>
    <input type:"text" name="url" value="{{drink.url}}">

<br><br>

<div>
Picture
   <input type="file" name="drinkIMG" accept="image/png, image/gif, image/jpeg">
</label>
</div>

<br><br>

<label for ="tags">Tags</label>
    <input type:"text" name="tags" value="{{drink.tags}}">

<br><br>

<button type ="submit">Edit</button>
</form>
</div>