<h2 class="topPage">Edit<span>Ingreident</span></h2>

<form action="/ingredients/{{id}}/edit" method="post" enctype="multipart/form-data">

<label for ="name">Name</label>
    <input type:"text" name="name" value="{{name}}">

<br><br>

<label for="type">Type</label>
<select name="type" id="type">
        <option value="{{type}}" selected disabled hidden>{{type}}</option>
        <option value="Syrup">Syrup</option>
        <option value="Fruit">Fruit</option>
        <option value="Carbonated mixers">Carbonated mixers</option>
        <option value="Juice">Juice</option>
        <option value="Bitters">Bitters</option>
        <option value="Garnish">Garnish</option>
        <option value="Dairy">Dairy</option>
        <option value="Caffeinated beverages">Caffeinated beverages</option>
        <option value="Sauces">Sauces</option>
        <option value="Prepared mixes">Prepared mixes</option>
</select>

<br><br>

<label for ="description">Description</label>    
     <input type:"text" name="description" value="{{description}}">

<br><br>

<label for ="url">Website to Purchase</label>
    <input type:"text" name="url" value="{{url}}">

<br><br>

<label for ="price">Price</label>
    <input type:"text" name="price" value="{{price}}">

<br><br>

<div>
Picture
   <input type="file" name="ingIMG" accept="image/png, image/gif, image/jpeg">
</div>

<br><br>

<button type ="submit">Submit Changes</button>
</form>

<form action="/ingredients/{{id}}/cancel" method="get">
<button type="submit">Cancel</button>
</form>