<h2 class="topPage">Ingredient<span>Details</span></h2>
<div class = "details">

    <h4>Name: {{ingredient.name}}</h4>
    <h4>Type: {{ingredient.type}}</h4>
    <h4>Description: {{ingredient.description}}</h4>
    <h4>Picture: <br><img class ="details-photo" <img src="{{ingredient.image}}" alt=""></h4>
    <h4>Website to purchase: <a href="{{ingredient.url}}" target="blank">Click Here!</a></h4>
    <h4>Price: {{ingredient.price}}</h4>

{{#if theUser}}
        <a class="edit" href="/ingredients/{{ingredient._id}}/edit">Edit</a>
        
        <form action="/ingredients/{{ingredient._id}}/delete" method="post">

        <button  class="delete" type="submit">Delete</button>
        </form>

{{/if}}
</div>